/*
*   Basic page template
*/
@import url(
    'https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'
);

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container-fluid ul li a {
    font-weight: bold;
}

.navbar-brand {
    color: whitesmoke !important;
}

html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, black, white);
}

header, footer {
    background-color: ghostwhite;
    padding: 20px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
 }

 .page-title {
     text-align: center;
     font-weight: bold;
     font-family: Arial;
     padding: 20px;
     background: transparent;
     color: whitesmoke;
 }
 
.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}

/*
 *  CSS for the "add new article" formular
 */
 .regSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, black, white);
    padding-bottom: 30px;
 }

.form-box {
    position: relative;
    padding: 40px;
    height: auto;
    width: 880px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.form-box::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, 
    rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 85%, 
    rgba(255, 255, 255, 0.1) 100%);
}

.form-box .form-container {
    position: relative;
    width: 100%;
}

.form-container {
    border-radius: 5px;
    background: inherit;
    overflow: hidden;
    padding: 20px;
    height: 100%;
    width: 60%;
}

label {
    font-size: 18px;
    padding-top: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

.article-content {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/*
*   CSS for the "home page/articles" formular
*/
.page-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.article-container {
    width: 90%;
    margin: 50px auto;
    min-height: 76vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #426e86, #f9ba32);
    color: #fff;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #426e86, #f9ba32);
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

.btn-update {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #f9ba32, #426e86);
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 5px;
}

.btn-delete {
    color: red;
}

/*
*   CSS for the statement
*/
.statement{
    font-size: 25px;
    color: orange;
}
